<div style="text-align:left;font-size:2em"><span style="font-weight:bolder;font-size:1.25em">SP2273 | Learning Portfolio</span><br><br><span style="font-weight:bold;color:darkred">Basics (Good)</span></div>

## 1 More Python Basics

### 1.1 Computers read = from Right to Left!

In [2]:
x = 40 # This makes x has the value 40
y = x + 2 # This means add 2 to x to get 42, then make y equal to 42.

In [3]:
# Therefore the following will work in programming:
y = 50
y = y + 2
print(y)

52

In [4]:
# This also works:
x = y = 10
print(x)
print(y)

10
10

### 1.2 Shorter and cleaner

##### Notes:
- Shorthand syntax makes code slightly neater.

In [6]:
y = 40
y = y + 2

In the above, y = y + 2 can be replaced with y+=2

In [10]:
y = 40
y += 2 # Same as y = y + 2
y

42

##### Subtraction:

In [11]:
y = 40
y -= 2 # Same as y = y - 2
y

38

##### Division:

In [12]:
y = 40
y /= 2 # Same as y = y/2
y

20.0

##### Multiplication:

In [13]:
y = 40
y *= 2 # Same as y = y*2
y

80

### 1.3 Asking questions

In [17]:
fruits = ["apple", "banana", "pineapple", "jackfruit"]
vegetables = ["celery", "potato", "broccoli", "kale"]

True

In [27]:
"apple" in fruits

True

In [22]:
"peach" in fruits

False

In [24]:
"peach" not in fruits

True

In [25]:
("apple" in fruits) and ("celery" in vegetables)

True

In [28]:
("apple" in fruits) or ("celery" in vegetable)

True

| Question/Condition     | Math Symbol | Python Symbols |
|------------------------|-------------|-------------|
| Equals?                | =           | ==          |
| Not equal?             | ≠           | !=          |
| Less than?             | <           | <           |
| Greater than?          | >           | >           |
| Less than or equal?    | ≤           | <=          |
| Greater than or equal? | ≥           | >=          |

##### Notes:
- Python only knows how to compare similar things. Therefore, 3 > 10 works but 3 > apple does not. But Python can compare 'apples' and 'oranges'.

In [29]:
'apples' > 'oranges'

False

In [31]:
(x > 5) and (x < 15)

True

is the same as

In [32]:
5 < x < 15

True

### 1.4 There is more to if

In [36]:
name = 'Batman'

if name == 'Batman':
    print('Hello Hero | Batman!')
elif name == 'Robin':
    print('Hello Sidekick | Robin!')
else:
    print('Hello World!')

Hello Hero | Batman!

In [37]:
name = 'Robin'

if name == 'Batman':
    print('Hello Hero | Batman!')
elif name == 'Robin':
    print('Hello Sidekick | Robin!')
else:
    print('Hello World!')

Hello Sidekick | Robin!

In [38]:
name = '??'

if name == 'Batman':
    print('Hello Hero | Batman!')
elif name == 'Robin':
    print('Hello Sidekick | Robin!')
else:
    print('Hello World!')

Hello World!

### 1.5 Python stores information in different formats or types.

##### Notes:
- There are four ways to store the number 1.234. 
- The function type() is to check how the information is stored.

**1) To store 1.234 as an integer (int):**

In [40]:
x = int(1.234)
print(x, type(x))

1 <class 'int'>

**2. To store 1.234 as an English word (str):**

In [41]:
x = str(1.234)
print(x, type(x))

1.234 <class 'str'>

**3. To store 1.234 as a decimal number (float):**

In [42]:
x = float(1.234)
print(x, type(x))

1.234 <class 'float'>

**4) To store 1.234 as a complex number (complex).**
- This will include an imaginary part of the number.

In [44]:
x = complex(1.234)
print(x, type(x))

(1.234+0j) <class 'complex'>

##### Notes:
- There are many other types of data.
- We can force Python to change the type of variable:

In [45]:
x = '1.234'
print(x, type(x))

1.234 <class 'str'>

In [46]:
x = float(x)
print(x, type(x))

1.234 <class 'float'>

This is referred to as **typecasting**, where we cast x into the type float.

### 1.6 Combining English and variables

In [48]:
name = "Batman"
print(f"Hello {name}!")

Hello Batman!

In [49]:
name = "Batman"
print(f"Hello {name.upper()}!")

Hello BATMAN!

In [50]:
x = 10
print(f"The value of {x} squared is {x**2}!")

The value of 10 squared is 100!

##### Notes:
- 'f' and '{}' is called **f-string** or **string interpolation**. 
- f-string can be used to do formatting a string or number:

In [53]:
text = 'Bruce Wayne is Batman.'
print(f'{text}')

Bruce Wayne is Batman.

In [56]:
print(f'{text:>30}') # A block of 30 characters; aligned right

        Bruce Wayne is Batman.

In [57]:
print(f'{text:^30}') # A block of 30 characters; aligned center

    Bruce Wayne is Batman.

In [58]:
print(f'{text:<30}') # A block of 30 characters; aligned left

Bruce Wayne is Batman.

In [64]:
np.pi**3
print(type (np.pi**3))

<class 'float'>

In [68]:
print(f'The cube of pi to 6 decimal places is {np.pi**3:.6g}')

The cube of pi to 6 decimal places is 31.0063

In [75]:
print(f'{9:06d}')
# This means you make 9 the subject, 
# then subject it to being an integer with 6 numbers in it.

000009

##### Notes:
- np = numpy package, a math programme thing
- . is to show that the cube of pi belongs to numpy
- pi**3 = cube of pi
- .6 = 6 decimal places

In [78]:
print(f'The cube of pi to 6 decimal places is {np.pi**3:.6e}')
# e is used to tell the f-string to output the number 
# in scientific notation.

The cube of pi to 6 decimal places is 3.100628e+01

##### Structure of f-strings:

- F-string formatting has the structure {X:0Y.ZW}, where X, Y, Z and W are:

| Letter | Meaning |
|---|---------------------------------------------------------------------------------------------------------|
| W | Specifies the type of variable: f - float d - integer s - string g - ask Python to figure it out itself |
| X | Variable to format (can be a number or a string)|                | > | Alignment Use <, >, ^ for Left, Right, and Center|
| Y | Total number of characters |
| Z | Number of decimal places |
| 0 | Use 0's to pad the spaces |

### 1.7 Python can be a prima-donna.

In [ ]:

# Your code here

## 2 Best Practices for Scientific Computing

### 2.1 Some tips

In [ ]:

# Your code here

### 2.2 Getting help.

In [ ]:

# Your code here

## Exercise 1 :  Bias for some heroes

In [ ]:



# Your solution here

## Exercise 2 :  Bias for some heroes, continues

In [ ]:



# Your solution here

## Exercise 3 :  Look for help to replace

In [ ]:



# Your solution here